<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="winmerge" />
      <package id="autohotkey" />
      <package id="totalcommander" />
      <package id="far" />
      <package id="cmder" />
      <package id="microsoft-windows-terminal" />
      <package id="cygwin" packageParameters="/InstallDir:C:\code\cygwin /NoStartMenu" />
      <package id="hyper" />
      <package id="7zip" />
      <package id="rufus" />
      <package id="etcher" />
      <package id="oldcalc" />
      <package id="angryip" />
      <package id="putty" />
      <package id="winbox" />
      <package id="zoomit" />
      <package id="screentogif" />
      <package id="picpick.portable" />
      <package id="adobereader" />
      <package id="gimp" />
      <package id="paint.net" />
      <package id="fsviewer" />
      <package id="irfanview" packageParameters="/desktop /thumbs" />
      <package id="irfanviewplugins" />
      <package id="spotify" />
      <package id="vlc" />
      <package id="dropbox" />
      <package id="googledrive" />
      <!-- <package id="onedrive" /> -->
      <package id="filezilla" />
      <package id="winscp" />
      <package id="qbittorrent" />
      <package id="teamviewer.portable" />
      <package id="slack" />
      <package id="discord" />
      <package id="viber" />
      <package id="telegram" />
      <package id="zoom" />
      <package id="notepadplusplus" />
      <package id="sublimetext3" />
      <package id="atom" />
      <package id="brackets" />
      <package id="vscode" />
      <package id="jetbrainstoolbox" />
      <package id="git" installArguments='/DIR="c:\code\git"' packageParameters='/GitAndUnixToolsOnPath /NoAutoCrlf /NoShellIntegration /SChannel' />
      <package id="php" packageParameters='/ThreadSafe /InstallDir:C:\code\php' />
      <!-- <package id="python3" packageParameters='/InstallDir:C:\code\python' /> -->
      <!-- <package id="nodejs" installArguments='TARGETDIR=C:\code\nodejs INSTALLDIR=C:\code\nodejs' /> -->
      <package id="nodejs-lts" installArguments='TARGETDIR=C:\code\nodejs-lts INSTALLDIR=C:\code\nodejs-lts' />
      <!-- <package id="strawberryperl" installArguments="TARGETDIR=C:\code\perl INSTALLDIR=C:\code\perl" /> -->
      <package id="mremoteng" />
      <package id="mobaxterm" />
      <package id="gitkraken" />
      <package id="github-desktop" />
      <package id="sourcetree" />
      <package id="googlechrome" />
      <package id="firefox" />
      <package id="firefox-dev" />
      <package id="opera" />
      <package id="vivaldi" />
      <package id="maxthon.commandline" />
      <package id="postman" />
      <package id="insomnia-rest-api-client" />
      <package id="virtualbox" />
      <package id="vagrant" />
      <package id="packer" />
      <package id="ojdkbuild8" />
      <package id="gradle" />
      <package id="partitionwizard" />
      <package id="nmap" />
      <package id="burp-suite-free-edition" />
      <!-- step 1 -->
      <package id="wsl2" />
      <!-- step 2, restart, uncomment, continue installation -->
      <!-- <package id="wsl-ubuntu-2004" packageParameters="/InstallRoot:false" /> -->
    </packages>
<!-- Xshell 6 -->
<!-- Install Android Studio from JetBrains Toolbox -->